In [1]:
import os
import pandas as pd

In [2]:
cwd = "c:\\Users\\m1865\\Desktop\\DISC"
cwd_Images_Raw = cwd + "\\Sentinel-2 Images Raw"
cwd_Images_Processed = cwd + "\\Sentinel-2 Images Processed"

In [3]:
df = pd.read_csv(cwd + "//Site.csv")

In [4]:
list_Date = []
for i in range(df.shape[0]):
    temp_Site = df.loc[i,'Site']
    temp_S2Name = os.listdir(cwd_Images_Raw + "\\" + temp_Site + "\\L2A")[0].split("_")[2][0:8]
    # print(temp_S2Name)
    list_Date.append(temp_S2Name)

In [5]:
df_Dates = pd.DataFrame({
    "Site": df["Site"],
    "Date": list_Date
})
df_Dates.head()

               Site      Date
0              ATGE  20230824
1  ATLAS-Mohammed V  20230831
2        AU-MIEMING  20230824
3              BASP  20230831
4      BE-BRASCHAAT  20230823

In [6]:
df_Dates.to_csv(cwd + "\\Site_S2Images_Dates.csv", index = False)