In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# 
cwd = "..\\..\\"
cwd_Images_Raw = cwd + "\\Sentinel-2 Images Raw"
cwd_Images_Processed = cwd + "\\Sentinel-2 Images Processed"
cwd_Images_Results = cwd + "\\Results"

In [3]:
df = pd.read_excel(cwd + "\\Results\\Best ROI Roberto.xlsx")
df.head()

,Site,Homogeneity Test,Roman Metrics,Best ROI,RAW Score,ST Score
0,AT-Mmg,Homo Test Passed,RAW,100-600,27.656817,NaN
1,ATGE,Homo Test Failed,RAW or ST,Not Suitable for Validation,NaN,NaN
2,ATLAS-Mohammed V,Homo Test Failed,RAW or ST,Not Suitable for Validation,NaN,NaN
3,ATLAS-Mohammed V New,Homo Test Failed,RAW or ST,300-600,51.318989,0.799848
4,BASP,Homo Test Failed,RAW or ST,300-600,0.362665,0.657212

In [4]:
# 100-300
df_100_300 = df[df['Best ROI']=='100-300']
RAW_100_300 = df_100_300["RAW Score"].min()
ST_100_300 = df_100_300["ST Score"].min()
# 100-600
df_100_600 = df[df['Best ROI']=='100-600']
RAW_100_600 = df_100_600["RAW Score"].min()
ST_100_600 = df_100_600["ST Score"].min()
# 100-900
df_100_900 = df[df['Best ROI']=='100-900']
RAW_100_900 = df_100_900["RAW Score"].min()
ST_100_900 = df_100_900["ST Score"].min()
# 300-600
df_300_600 = df[df['Best ROI']=='300-600']
RAW_300_600 = df_300_600["RAW Score"].min()
ST_300_600 = df_300_600["ST Score"].min()
# 300-900
df_300_900 = df[df['Best ROI']=='300-900']
RAW_300_900 = df_300_900["RAW Score"].min()
ST_300_900 = df_300_900["ST Score"].min()

In [5]:
df_Threshold = pd.DataFrame({
    "ROI": ["100-300","100-600","100-900","300-600","300-900"],
    "RAW Min": [RAW_100_300,RAW_100_600,RAW_100_900,RAW_300_600,RAW_300_900],
    "ST Min": [ST_100_300,ST_100_600,ST_100_900,ST_300_600,ST_300_900],
}
)
df_Threshold

       ROI    RAW Min    ST Min
0  100-300   0.623149  0.621223
1  100-600  27.656817       NaN
2  100-900  63.887256       NaN
3  300-600   0.341638  0.588896
4  300-900   0.848886  0.812796