In [180]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [181]:
# 
cwd = "..\\..\\"
cwd_Images_Raw = cwd + "\\Sentinel-2 Images Raw"
cwd_Images_Processed = cwd + "\\Sentinel-2 Images Processed"
cwd_Images_Results = cwd + "\\Results"

In [182]:
list_Site_Moved = ['ATLAS-Mohammed V','DE-Geb','FR-Bil','FR-FBn','FR-Pue','IS-YATIR','IT-BFt','IT-SR2','PORT-FOR','UK-Amo','US-Kon','US-SERC']

In [183]:
pd_Vario = pd.read_excel(cwd_Images_Results + "\\HI Average MinMaxOnEachROI with Mean, CV and Sill.xlsx", header = 1)
pd_Vario.head()

,Site,HI 100,HI 300,HI 600,HI 900,HI Total,Mean 100,CV 100,Sill 100,Mean 300,CV 300,Sill 300,Mean 600,CV 600,Sill 600,Mean 900,CV 900,Sill 900
0,GHNA,0.000000,0.000000,0.000000,0.000000,0.000000,5.898007,0.047539,0.083282,5.935680,0.050606,0.090163,5.938954,0.057228,0.114099,5.943672,0.066343,0.150287
1,KEN-KAP,0.000009,0.000054,0.000108,0.000073,0.000061,13.112819,0.039049,0.256761,12.682250,0.090816,1.281788,12.376468,0.103809,2.017366,12.549636,0.104686,1.849329
2,AT-Mmg,0.000256,0.000093,0.000121,0.000133,0.000151,31.809015,0.059300,3.316349,32.168508,0.056158,3.442307,32.875859,0.058228,3.904039,33.644299,0.065007,5.146960
3,Dahara (Senegal),0.000401,0.000117,0.000131,0.000094,0.000186,12.907167,0.118861,2.613929,12.288286,0.114109,2.156830,12.376944,0.117291,2.143269,12.104871,0.119791,2.072566
4,SE-Svb,0.000637,0.000158,0.000393,0.000642,0.000458,21.727341,0.096291,5.042184,21.938836,0.088230,3.705230,22.287381,0.113320,6.435816,23.119932,0.145889,10.917600

In [184]:
pd_Roman = pd.read_csv(cwd_Images_Results + "\\Roman.csv")
pd_Roman = pd_Roman[pd_Roman['Internal Distance']!=30].reset_index(drop = True)
pd_Roman = pd_Roman.drop(columns=['Rcv','Rse','Rst','Rsv'])
pd_Roman.head()

   Site  Internal Distance  External Distance  RAW Score  ST Score
0  ATGE                100                300   4.855959  0.907602
1  ATGE                100                600   8.837468  0.654933
2  ATGE                100                900   9.702866  0.513785
3  ATGE                300                600   2.811250  0.739677
4  ATGE                300                900   2.903070  0.592676

In [185]:
pd_Fit = pd.read_excel(cwd_Images_Results + "\\Variogram - Fitting Results.xlsx")
pd_Fit_Good = pd_Fit[pd_Fit['Variogram Fitting'] == 'Good'].reset_index(drop = True)
pd_Fit_Bad = pd_Fit[pd_Fit['Variogram Fitting'] == 'Bad'].reset_index(drop = True)

In [186]:
pd_Fit_Good

,Number,Site,Latitude,Longitude,Main Ecosystem,FLOX Activity,Reference Network,Variogram Fitting
0,1.0,ATGE,52.466778,12.959778,NaN,NaN,HYPERNET,Good
1,5.0,BASP,39.049139,-2.075917,NaN,NaN,HYPERNET,Good
2,6.0,BE-Bra,51.307600,4.519900,Evergreen Forest,Yes,FLOX-ICOS,Good
3,7.0,BE-Maa,50.979870,5.631851,NaN,NaN,ICOS,Good
4,8.0,BE-Vie,50.304962,5.998099,NaN,NaN,ICOS,Good
...,...,...,...,...,...,...,...,...
56,93.0,US ALASKA 2,65.154010,-147.502580,Evergreen Forest,Possible,FLOX,Good
57,94.0,US-Kon,39.100770,-96.563075,Grasslands,Yes,FLOX-AmeriFlux,Good
58,NaN,US-Kon Moved,NaN,NaN,NaN,NaN,NaN,Good
59,95.0,US-Kon New,39.099441,-96.564810,Grasslands,Yes,FLOX-AmeriFlux,Good
60,97.0,US-OPE,39.030690,-76.845000,Crop,No,FLOX,Good

In [187]:
pd_Fit_Bad

,Number,Site,Latitude,Longitude,Main Ecosystem,FLOX Activity,Reference Network,Variogram Fitting
0,2.0,ATLAS-Mohammed V,33.406152,-5.103319,NaN,NaN,Other,Bad
1,NaN,ATLAS-Mohammed V Moved,NaN,NaN,NaN,NaN,NaN,Bad
2,3.0,ATLAS-Mohammed V New,33.404814,-5.101614,NaN,NaN,Other,Bad
3,4.0,AT-Mmg,47.316700,10.970300,Evergreen Forest,Yes,FLOX,Bad
4,9.0,BE-WAL,50.551600,4.746100,Crop,No,FLOX,Bad
5,12.0,CHINA-AGR 1,34.515200,115.596900,Crop,Not known,FLOX,Bad
6,16.0,CZ-Lnz,48.681550,16.946331,NaN,NaN,ICOS,Bad
7,19.0,DE-Geb,51.100100,10.914630,Crop,No,FLOX-ICOS,Bad
8,NaN,DE-Geb Moved,NaN,NaN,NaN,NaN,NaN,Bad
9,20.0,DE-Geb New,51.099730,10.912480,Crop,No,FLOX-ICOS,Bad
10,31.0,FI SOD GRASS,67.362300,26.638700,Grasslands,No,FLOX,Bad
11,32.0,FI-Hyy,60.371700,11.079500,Evergreen Forest,Planned,FLOX,Bad
12,34.0,FI-Ken,67.987210,24.243010,NaN,NaN,ICOS,Bad
13,35.0,FINLAND SWAMP,67.997300,24.209500,Wet,No,FLOX,Bad
14,38.0,FR-Bil,44.493652,-0.956092,NaN,NaN,ICOS,Bad
15,NaN,FR-Bil Moved,NaN,NaN,NaN,NaN,NaN,Bad
16,39.0,FR-Bil New,44.493678,-0.957970,NaN,NaN,ICOS,Bad
17,40.0,FR-FBn,43.240790,5.678650,NaN,NaN,ICOS,Bad
18,NaN,FR-FBn Moved,NaN,NaN,NaN,NaN,NaN,Bad
19,41.0,FR-FBn New,43.240715,5.680398,NaN,NaN,ICOS,Bad
20,42.0,FR-Hes,48.674100,7.064650,NaN,NaN,ICOS,Bad
21,43.0,FR-OHP,43.934400,5.711600,Deciduous Forest,No,FLOX,Bad
22,44.0,FR-OHP New,43.936900,5.713920,Deciduous Forest,No,FLOX,Bad
23,45.0,FR-Pue,43.741300,3.595700,NaN,NaN,ICOS,Bad
24,NaN,FR-Pue Moved,NaN,NaN,NaN,NaN,NaN,Bad
25,46.0,FR-Pue New,43.742573,3.597429,NaN,NaN,ICOS,Bad
26,48.0,GHNA,-23.601530,15.125890,NaN,NaN,HYPERNET,Bad
27,49.0,IFAR,-34.592322,-58.479017,NaN,NaN,HYPERNET,Bad
28,54.0,IT-BFt,45.197754,10.741966,NaN,NaN,ICOS,Bad
29,NaN,IT-BFt Moved,NaN,NaN,NaN,NaN,NaN,Bad
30,55.0,IT-BFt New,45.198694,10.739507,NaN,NaN,ICOS,Bad
31,57.0,IT-Cp2,41.704300,12.357300,Deciduous Forest,Planned,FLOX-ICOS,Bad
32,66.0,LOBE,50.551493,4.745911,NaN,NaN,HYPERNET,Bad
33,72.0,Robson Creek rainforest,-17.127134,145.607253,NaN,NaN,Other,Bad
34,74.0,S. KOREA-AGR 2,35.026900,126.821900,Crop,Not known,FLOX,Bad
35,75.0,S. KOREA-FOR 1,37.583900,126.994600,Deciduous Forest,Not known,FLOX,Bad
36,80.0,SP-VAL,40.089400,-0.827300,Evergreen Forest,Yes,FLOX,Bad
37,81.0,SVALBARD,78.185400,15.925900,Tundra,Yes,FLOX,Bad
38,82.0,SW-DAVOS,46.815200,9.855900,Evergreen Forest,Yes,FLOX,Bad
39,83.0,SWEDEN ICOS,56.097500,13.419600,Evergreen Forest,No,FLOX,Bad
40,85.0,SW-PYN,46.303200,7.612300,Evergreen Forest,up to 2025,FLOX,Bad
41,86.0,SW-PYN New,46.301020,7.615590,Evergreen Forest,up to 2025,FLOX,Bad
42,89.0,UK-2,51.153498,-0.858310,Deciduous Forest,Yes,FLOX,Bad
43,90.0,UK-Amo,55.792545,-3.243692,NaN,NaN,ICOS,Bad
44,NaN,UK-Amo Moved,NaN,NaN,NaN,NaN,NaN,Bad
45,91.0,UK-Amo New,55.794310,-3.247932,NaN,NaN,ICOS,Bad
46,96.0,US-LIN,41.179700,-96.440390,Crop,Yes,FLOX,Bad
47,98.0,US-SERC,38.890130,-76.560000,Deciduous Forest,Possible,FLOX,Bad
48,NaN,US-SERC Moved,NaN,NaN,NaN,NaN,NaN,Bad
49,99.0,US-SERC New,38.891407,-76.561638,Deciduous Forest,Possible,FLOX,Bad
50,100.0,Utqiagvik,71.282410,-156.619360,NaN,NaN,Other,Bad
51,101.0,WWUK,51.777206,-1.338494,NaN,NaN,HYPERNET,Bad

# RAW Score

In [188]:
# Get maximum RAW Score for each site
temp = pd_Roman.groupby('Site')['RAW Score'].idxmax()
pd_Roman_Max_RAW = pd_Roman.loc[temp].drop(columns=['ST Score']).reset_index(drop = True)
pd_Roman_Max_RAW.head()

                     Site  Internal Distance  External Distance  RAW Score
0                  AT-Mmg                100                600  27.656817
1                    ATGE                100                900   9.702866
2        ATLAS-Mohammed V                100                300   1.289376
3  ATLAS-Mohammed V Moved                300                600  19.071715
4    ATLAS-Mohammed V New                300                600  51.318989

In [189]:
# Compare original sites and moved sites, and filter out the one with lower score
pd_Roman_RAW_Max_Filter = pd_Roman_Max_RAW.copy()
for i in range(pd_Roman_Max_RAW.shape[0]):
    temp_Site = pd_Roman_Max_RAW['Site'][i]
    if temp_Site in list_Site_Moved:
        index_moved = pd_Roman_Max_RAW.loc[pd_Roman_Max_RAW['Site'] == temp_Site + " Moved",'RAW Score'].index.values[0]
        RAW_original = pd_Roman_Max_RAW['RAW Score'][i]
        RAW_moved = pd_Roman_Max_RAW['RAW Score'][index_moved]
        if RAW_moved > RAW_original:
            pd_Roman_RAW_Max_Filter.drop(index=(i),inplace = True)  
        else:
            pd_Roman_RAW_Max_Filter.drop(index=(index_moved),inplace = True)
pd_Roman_RAW_Max_Filter

                       Site  Internal Distance  External Distance  RAW Score
0                    AT-Mmg                100                600  27.656817
1                      ATGE                100                900   9.702866
3    ATLAS-Mohammed V Moved                300                600  19.071715
4      ATLAS-Mohammed V New                300                600  51.318989
5                      BASP                300                600   0.362665
..                      ...                ...                ...        ...
107                  US-OPE                300                600   1.676705
108                 US-SERC                100                300   4.158097
110             US-SERC New                300                600   1.935230
111               Utqiagvik                300                600  32.797913
112                    WWUK                300                600   1.661065

[101 rows x 4 columns]

In [190]:
pd_Roman_Final_RAW = pd.merge(pd_Vario,pd_Roman_RAW_Max_Filter,on='Site')
pd_Roman_Final_RAW = pd_Roman_Final_RAW[['Site','HI 100','HI 300','HI 600','HI 900','HI Total','Internal Distance','External Distance','RAW Score']]
pd_Roman_Final_RAW.to_csv(cwd_Images_Results + "\\Roman RAW Score and HI (All).csv", index = False)

In [191]:
pd_Roman_RAW_Fit = pd.merge(pd_Fit_Bad,pd_Roman_RAW_Max_Filter,on = 'Site')
pd_Roman_RAW_Fit = pd_Roman_RAW_Fit[['Site','Internal Distance','External Distance','RAW Score']]
pd_Roman_RAW_Fit.head()

                     Site  Internal Distance  External Distance  RAW Score
0  ATLAS-Mohammed V Moved                300                600  19.071715
1    ATLAS-Mohammed V New                300                600  51.318989
2                  AT-Mmg                100                600  27.656817
3                  BE-WAL                300                900   1.025985
4             CHINA-AGR 1                300                600   0.341638

In [192]:
pd_Roman_Final_RAW_Fit = pd.merge(pd_Vario,pd_Roman_RAW_Fit,on='Site')
pd_Roman_Final_RAW_Fit = pd_Roman_Final_RAW_Fit[['Site','HI 100','HI 300','HI 600','HI 900','HI Total','Internal Distance','External Distance','RAW Score']]
pd_Roman_Final_RAW_Fit.to_csv(cwd_Images_Results + "\\Roman RAW Score and HI (Bad Fit).csv", index = False)
pd_Roman_Final_RAW_Fit

,Site,HI 100,HI 300,HI 600,HI 900,HI Total,Internal Distance,External Distance,RAW Score
0,GHNA,0.000000,0.000000,0.000000,0.000000,0.000000,100,300,7.750958
1,AT-Mmg,0.000256,0.000093,0.000121,0.000133,0.000151,100,600,27.656817
2,FR-FBn,0.001138,0.000772,0.001310,0.002148,0.001342,300,600,3.597985
3,FR-FBn New,0.001082,0.000520,0.001688,0.002292,0.001395,100,300,6.098437
4,Utqiagvik,0.002649,0.001133,0.001380,0.002335,0.001874,300,600,32.797913
5,SP-VAL,0.001408,0.000424,0.001843,0.004901,0.002144,100,300,14.430275
6,FI-Ken,0.007994,0.000854,0.001252,0.001366,0.002866,300,600,6.456980
7,US-SERC New,0.000360,0.000841,0.001922,0.008555,0.002919,300,600,1.935230
8,US-SERC,0.001188,0.000324,0.003163,0.009700,0.003594,100,300,4.158097
9,FR-Hes,0.001715,0.002641,0.004571,0.006107,0.003758,300,600,3.127003
10,SWEDEN ICOS,0.003315,0.000780,0.003283,0.010132,0.004378,100,300,2.455431
11,IT-BFt Moved,0.004525,0.002709,0.003206,0.010068,0.005127,300,600,49.045042
12,IT-BFt New,0.010041,0.003452,0.003206,0.004315,0.005254,100,300,13.154473
13,FI SOD GRASS,0.001201,0.000315,0.003792,0.017232,0.005635,100,300,5.911151
14,WWUK,0.002034,0.002597,0.006496,0.011920,0.005762,300,600,1.661065
15,FR-OHP New,0.000864,0.002587,0.007264,0.013099,0.005954,300,600,1.124347
16,UK-2,0.003323,0.002719,0.004076,0.015449,0.006392,300,600,4.304350
17,FR-Pue,0.002650,0.002563,0.006949,0.014261,0.006606,100,300,1.481715
18,Robson Creek rainforest,0.005301,0.004262,0.010300,0.009783,0.007411,100,300,2.313889
19,FR-Bil,0.000117,0.000146,0.001417,0.028431,0.007528,100,300,1.064795
20,FR-Pue New,0.006174,0.003440,0.009140,0.011627,0.007595,100,300,5.675542
21,US-LIN,0.000096,0.000886,0.000557,0.030014,0.007888,300,600,3.125431
22,UK-Amo New,0.005360,0.001600,0.003157,0.024518,0.008659,100,600,12.453473
23,FR-Bil New,0.000143,0.000133,0.003807,0.035270,0.009838,100,300,1.485509
24,ATLAS-Mohammed V Moved,0.004254,0.004597,0.009251,0.024708,0.010703,300,600,19.071715
25,ATLAS-Mohammed V New,0.012867,0.008624,0.009251,0.012750,0.010873,300,600,51.318989
26,SW-PYN New,0.001680,0.000985,0.001686,0.043825,0.012044,300,600,3.050407
27,FINLAND SWAMP,0.022748,0.007409,0.007483,0.011459,0.012275,300,600,32.581585
28,SVALBARD,0.010895,0.008531,0.020903,0.023562,0.015973,300,600,1.160758
29,FI-Hyy,0.024842,0.008870,0.024093,0.038329,0.024034,100,300,73.730196
30,SW-DAVOS,0.002139,0.007918,0.035632,0.073378,0.029767,300,600,0.720523
31,FR-OHP,0.052125,0.021026,0.021140,0.026296,0.030147,100,300,221.760733
32,SW-PYN,0.088274,0.013008,0.009495,0.043116,0.038474,100,900,16.466925
33,CZ-Lnz,0.001718,0.016186,0.040937,0.096888,0.038932,300,600,1.415604
34,CHINA-AGR 1,0.000580,0.003748,0.052339,0.122695,0.044840,300,600,0.341638
35,IFAR,0.029143,0.038686,0.084061,0.086301,0.059548,300,600,1.407341
36,IT-Cp2,0.008198,0.046653,0.096057,0.097030,0.061985,300,600,1.500261
37,DE-Geb New,0.000013,0.000656,0.091859,0.285144,0.094418,100,300,0.119898
38,DE-Geb,0.003745,0.008528,0.145240,0.322059,0.119893,100,300,0.509034
39,UK-Amo,0.001053,0.102037,0.239422,0.220238,0.140687,300,600,3.477826
40,S. KOREA-AGR 2,0.198831,0.239768,0.259214,0.222407,0.230055,300,900,94.190699
41,BE-WAL,0.000106,0.009523,0.438048,0.475044,0.230680,300,900,1.025985
42,LOBE,0.000115,0.007918,0.474829,0.481349,0.241053,300,900,0.911119
43,S. KOREA-FOR 1,0.047840,0.276321,0.606257,0.596950,0.381842,300,600,1.111243

# ST Score

In [193]:
temp = pd_Roman.groupby('Site')['ST Score'].idxmax()
pd_Roman_Max = pd_Roman.loc[temp].drop(columns=['RAW Score']).reset_index(drop = True)
pd_Roman_Max.head()

                     Site  Internal Distance  External Distance  ST Score
0                  AT-Mmg                300                600  0.734345
1                    ATGE                100                300  0.907602
2        ATLAS-Mohammed V                100                300  0.712510
3  ATLAS-Mohammed V Moved                300                600  0.379310
4    ATLAS-Mohammed V New                300                600  0.799848

In [194]:
pd_Roman_Max_Filter = pd_Roman_Max.copy()
for i in range(pd_Roman_Max.shape[0]):
    temp_Site = pd_Roman_Max['Site'][i]
    if temp_Site in list_Site_Moved:
        index_moved = pd_Roman_Max.loc[pd_Roman_Max['Site'] == temp_Site + " Moved",'ST Score'].index.values[0]
        RAW_original = pd_Roman_Max['ST Score'][i]
        RAW_moved = pd_Roman_Max['ST Score'][index_moved]
        if RAW_moved > RAW_original:
            pd_Roman_Max_Filter.drop(index=(i),inplace = True)  
        else:
            pd_Roman_Max_Filter.drop(index=(index_moved),inplace = True)
pd_Roman_Max_Filter.head()

                   Site  Internal Distance  External Distance  ST Score
0                AT-Mmg                300                600  0.734345
1                  ATGE                100                300  0.907602
2      ATLAS-Mohammed V                100                300  0.712510
4  ATLAS-Mohammed V New                300                600  0.799848
5                  BASP                300                600  0.657212

In [195]:
pd_Roman_Final_ST = pd.merge(pd_Vario,pd_Roman_Max_Filter,on = 'Site')
pd_Roman_Final_ST = pd_Roman_Final_ST[['Site','HI 100','HI 300','HI 600','HI 900','HI Total','Internal Distance','External Distance','ST Score']]
pd_Roman_Final_ST.to_csv(cwd_Images_Results + "\\Roman ST Score and HI (All).csv", index = False)
pd_Roman_Final_ST

,Site,HI 100,HI 300,HI 600,HI 900,HI Total,Internal Distance,External Distance,ST Score
0,GHNA,0.000000,0.000000,0.000000,0.000000,0.000000,100,300,0.838575
1,KEN-KAP,0.000009,0.000054,0.000108,0.000073,0.000061,300,900,0.765304
2,AT-Mmg,0.000256,0.000093,0.000121,0.000133,0.000151,300,600,0.734345
3,Dahara (Senegal),0.000401,0.000117,0.000131,0.000094,0.000186,300,600,0.929868
4,SE-Svb,0.000637,0.000158,0.000393,0.000642,0.000458,100,300,1.102760
...,...,...,...,...,...,...,...,...,...
96,LOBE,0.000115,0.007918,0.474829,0.481349,0.241053,300,600,0.584595
97,S. KOREA-FOR 2,0.151571,0.257342,0.307438,0.389650,0.276500,300,600,0.782560
98,S. KOREA-FOR 1,0.047840,0.276321,0.606257,0.596950,0.381842,300,600,0.655696
99,DE-SEL,0.000029,0.297755,0.833436,0.511600,0.410705,300,600,0.760697
100,DE-JUL1,0.336058,0.775615,0.900827,0.607759,0.655065,300,900,0.837563

In [196]:
pd_Roman_Fit = pd.merge(pd_Fit_Good,pd_Roman_Max_Filter,on = 'Site')
pd_Roman_Fit = pd_Roman_Fit[['Site','Internal Distance','External Distance','ST Score']]
pd_Roman_Fit.head()

     Site  Internal Distance  External Distance  ST Score
0    ATGE                100                300  0.907602
1    BASP                300                600  0.657212
2  BE-Bra                300                600  0.889687
3  BE-Maa                300                600  0.981572
4  BE-Vie                300                600  0.720199

In [197]:
pd_Roman_Final_ST = pd.merge(pd_Vario,pd_Roman_Fit,on='Site')
pd_Roman_Final_ST = pd_Roman_Final_ST[['Site','HI 100','HI 300','HI 600','HI 900','HI Total','Internal Distance','External Distance','ST Score']]
pd_Roman_Final_ST.to_csv(cwd_Images_Results + "\\Roman ST Score and HI (Good Fit).csv", index = False)
pd_Roman_Final_ST

,Site,HI 100,HI 300,HI 600,HI 900,HI Total,Internal Distance,External Distance,ST Score
0,KEN-KAP,0.000009,0.000054,0.000108,0.000073,0.000061,300,900,0.765304
1,Dahara (Senegal),0.000401,0.000117,0.000131,0.000094,0.000186,300,600,0.929868
2,SE-Svb,0.000637,0.000158,0.000393,0.000642,0.000458,100,300,1.102760
3,NED-ESSEN,0.000948,0.000574,0.000924,0.000738,0.000796,300,600,1.015045
4,US ALASKA 1,0.000741,0.000677,0.001059,0.001578,0.001014,300,600,0.771014
5,IS-YATIR New,0.001609,0.000964,0.001286,0.001092,0.001238,300,600,0.948149
6,KEN-1,0.002374,0.001319,0.000903,0.000470,0.001266,300,600,0.911120
7,FI-Var,0.002198,0.000891,0.001181,0.001034,0.001326,300,600,0.951659
8,INDONESIA,0.000741,0.001255,0.003284,0.001974,0.001814,300,900,0.812796
9,SP-DES,0.002600,0.002206,0.001655,0.001399,0.001965,300,600,0.967258
10,BE-Maa,0.000054,0.002392,0.003055,0.003091,0.002148,300,600,0.981572
11,IS-YATIR,0.003849,0.001299,0.002239,0.001827,0.002304,100,300,0.797857
12,CANADA-ONT,0.002488,0.001560,0.002925,0.006970,0.003486,300,600,0.945564
13,US-Kon New,0.001658,0.001650,0.006095,0.005111,0.003629,100,300,0.842100
14,US ALASKA 2,0.000787,0.002433,0.004033,0.007342,0.003649,300,600,0.925997
15,CD-Ygb,0.009022,0.002066,0.002114,0.001658,0.003715,300,600,1.089238
16,SP-MAJ,0.006445,0.002696,0.003058,0.003061,0.003815,100,300,1.137635
17,DE-Hai,0.004273,0.005174,0.004915,0.003168,0.004382,300,900,0.907442
18,IT-TrF,0.000449,0.000889,0.009278,0.008157,0.004693,300,900,0.541769
19,IT-SR2 New,0.003611,0.002933,0.003029,0.011040,0.005153,300,600,1.095876
20,DE-LEINIEFELDE,0.005172,0.003348,0.006646,0.005850,0.005254,300,600,0.837441
21,US-Kon,0.000480,0.005203,0.009054,0.006863,0.005400,300,900,0.925273
22,BASP,0.000013,0.000529,0.011413,0.010570,0.005631,300,600,0.657212
23,GF-Guy,0.009532,0.004654,0.004902,0.003936,0.005756,100,900,0.962016
24,FI-Hyy New,0.002211,0.003967,0.006915,0.011552,0.006161,300,600,0.941691
25,DE-LEIPZIG New,0.005894,0.003854,0.006829,0.010618,0.006799,100,300,0.892301
26,CHINA-FOR 1,0.001648,0.001774,0.011235,0.013138,0.006948,300,600,0.729711
27,BE-Bra,0.007319,0.006179,0.009087,0.008301,0.007722,300,600,0.889687
28,FI-Sod,0.002738,0.005634,0.015251,0.009697,0.008330,300,900,0.838514
29,IT-SR2,0.002665,0.002312,0.018322,0.010135,0.008359,100,300,1.010910
30,Tapajos KM67 Mature Forest site,0.015100,0.005824,0.008100,0.006112,0.008784,100,300,1.125497
31,IT-Mbo,0.001944,0.007886,0.012931,0.014096,0.009214,300,900,0.876574
32,DEGE,0.008419,0.005021,0.016992,0.011709,0.010535,100,300,0.700458
33,IT-BOZEN,0.009510,0.012483,0.018578,0.013344,0.013479,300,900,0.965346
34,PORT-FOR New,0.025928,0.005504,0.014248,0.013245,0.014731,100,300,0.908931
35,DE-LEIPZIG,0.009145,0.014712,0.026869,0.017297,0.017005,300,600,0.796619
36,BE-Vie,0.017763,0.010550,0.018904,0.021886,0.017276,300,600,0.720199
37,DK-Sor,0.004782,0.017750,0.025048,0.026678,0.018565,300,600,0.911357
38,PORT-FOR,0.018924,0.020259,0.021424,0.014052,0.018665,300,600,0.785358
39,DE-Tha,0.014127,0.019436,0.020355,0.021344,0.018816,300,600,0.950655
40,JAES,0.006660,0.017621,0.041484,0.028729,0.023624,300,600,0.708968
41,CH-Lae,0.055975,0.014195,0.020776,0.024117,0.028766,300,600,0.911899
42,S. KOREA-AGR 1,0.027093,0.022029,0.061455,0.049032,0.039902,300,600,0.810149
43,IT-JDS,0.032061,0.055980,0.121577,0.071223,0.070210,300,900,0.788587
44,CHINA-AGR 2,0.005970,0.065473,0.145296,0.111420,0.082039,300,600,0.775350
45,US-OPE,0.000195,0.124748,0.133467,0.072502,0.082728,300,600,0.875745
46,NL-Cbw,0.120465,0.079097,0.115757,0.108497,0.105954,300,600,1.006631
47,ATGE,0.170805,0.095657,0.125819,0.090197,0.120620,100,300,0.907602
48,IN-JOD,0.003587,0.045088,0.272736,0.194856,0.129067,300,900,0.738173
49,DE-KKA,0.073729,0.121500,0.204226,0.166645,0.141525,300,900,0.918697
50,DE-LEIPZIG 2,0.043812,0.214909,0.190756,0.142608,0.148021,300,600,0.841671
51,NED-REUSEL,0.096828,0.129495,0.225255,0.165150,0.154182,300,600,0.820593
52,UK-1,0.040592,0.133903,0.293178,0.198674,0.166587,300,900,0.705206
53,SW-OTT,0.150759,0.172871,0.316060,0.187165,0.206714,300,900,0.955101
54,S. KOREA-FOR 2,0.151571,0.257342,0.307438,0.389650,0.276500,300,600,0.782560
55,DE-SEL,0.000029,0.297755,0.833436,0.511600,0.410705,300,600,0.760697
56,DE-JUL1,0.336058,0.775615,0.900827,0.607759,0.655065,300,900,0.837563