In [1]:
import os
import pandas as pd

### Get absolute paths

In [2]:
cwd = "c:\\Users\\m1865\\Desktop\\DISC"
cwd_Images_Raw = cwd + "\\Sentinel-2 Images Raw"
cwd_Images_Processed = cwd + "\\Sentinel-2 Images Processed"

### Read site .csv

In [6]:
df = pd.read_excel(cwd + "//Site_Finale - No New.xlsx")

### Get date of the satellite image by parsing its name

In [7]:
list_Date = []
for i in range(df.shape[0]):
    temp_Site = df.loc[i,'Site']
    temp_S2Name = os.listdir(cwd_Images_Raw + "\\" + temp_Site + "\\L2A")[0].split("_")[2][0:8]
    # print(temp_S2Name)
    list_Date.append(temp_S2Name)

In [14]:
df_Dates = pd.DataFrame({
    "Site": df["Site"],
    "Date": list_Date
})
df_Dates.head()

               Site      Date
0              ATGE  20230824
1  ATLAS-Mohammed V  20230831
2        AU-MIEMING  20230824
3              BASP  20230831
4      BE-BRASCHAAT  20230823

### Format date

In [15]:
df_Dates['Date'] = pd.to_datetime(df_Dates['Date'], format = '%Y%m%d')
df_Dates

                Site       Date
0               ATGE 2023-08-24
1   ATLAS-Mohammed V 2023-08-31
2         AU-MIEMING 2023-08-24
3               BASP 2023-08-31
4       BE-BRASCHAAT 2023-08-23
..               ...        ...
80            US-LIN 2023-08-17
81            US-OPE 2023-06-29
82           US-SERC 2023-06-29
83         Utqiagvik 2023-08-24
84              WWUK 2023-06-10

[85 rows x 2 columns]

In [16]:
df_Dates['Date'] = df_Dates['Date'].dt.strftime('%B %e, %Y')
df_Dates

                Site             Date
0               ATGE  August 24, 2023
1   ATLAS-Mohammed V  August 31, 2023
2         AU-MIEMING  August 24, 2023
3               BASP  August 31, 2023
4       BE-BRASCHAAT  August 23, 2023
..               ...              ...
80            US-LIN  August 17, 2023
81            US-OPE    June 29, 2023
82           US-SERC    June 29, 2023
83         Utqiagvik  August 24, 2023
84              WWUK    June 10, 2023

[85 rows x 2 columns]

In [18]:
df_Dates.to_excel(cwd + "\\Site_S2Images_Dates.xlsx", index = False)