This notebook is only used to retrieve the centroids of manually moved ROI of sites (done in QGIS).

In [21]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd

In [22]:
cwd = "c:\\Users\\m1865\\Desktop\\DISC"
cwd_Images_Raw = cwd + "\\Sentinel-2 Images Raw"
cwd_Images_Processed = cwd + "\\Sentinel-2 Images Processed"

In [23]:
df_Site = pd.read_excel(cwd + "//Site - No Moved ROI (Coordinates Only).xlsx")
df_Site.head(5)

   Number              Site   Latitude  Longitude Reference network
0       1              ATGE  52.466778  12.959778          HYPERNET
1       2  ATLAS-Mohammed V  33.406152  -5.103319             Other
2       3            AT-Mmg  47.316700  10.970300              FLOX
3       4              BASP  39.049139  -2.075917          HYPERNET
4       5            BE-Bra  51.307600   4.519900         FLOX-ICOS

In [24]:
list_Centroids_Lat = []
list_Centroids_Lon = []
list_Sites = []
for i in range(df_Site.shape[0]):
    temp_SiteName = df_Site['Site'][i]
    if os.path.exists(cwd_Images_Processed + "\\" + temp_SiteName + "\\600m Spostamento.shp"):
        gdf = gpd.read_file(cwd_Images_Processed + "\\" + temp_SiteName + "\\600m Spostamento.shp")
        point = gdf.centroid
        point_4326 = point.to_crs("EPSG:4326")
        list_Sites.append(temp_SiteName + " New")
        list_Centroids_Lat.append(point_4326.y.values[0])
        list_Centroids_Lon.append(point_4326.x.values[0])

In [25]:
df_MovedROI = pd.DataFrame({
    "Site": list_Sites,
    "Latitude": list_Centroids_Lat,
    "Longitude": list_Centroids_Lon
})
df_MovedROI

                   Site   Latitude  Longitude
0  ATLAS-Mohammed V New  33.404814  -5.101614
1            FR-Bil New  44.493678  -0.957970
2            FR-FBn New  43.240715   5.680398
3            FR-Pue New  43.742573   3.597429
4          IS-YATIR New  31.346557  35.049702
5            IT-BFt New  45.198694  10.739507
6            IT-SR2 New  43.730721  10.290911
7            UK-Amo New  55.794310  -3.247932
8            US-Kon New  39.099441 -96.564810
9           US-SERC New  38.891407 -76.561638

In [26]:
df_MovedROI.to_csv(cwd + "\\temp.csv", index = False)