In [38]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd
from matplotlib import pyplot as plt

In [39]:
cwd = "c:\\Users\\m1865\\Desktop\\DISC"
cwd_Images_Raw = cwd + "\\Sentinel-2 Images Raw"
cwd_Images_Processed = cwd + "\\Sentinel-2 Images Processed"

In [40]:
df_Variogram = pd.read_csv(cwd + "\\Result - Variogram.csv")
df_Variogram.head()

   Site  Distance        STD        CV       Range        Sill        Nugget
0  ATGE        30  10.292980  0.256794   20.000000   71.762211  3.570080e+01
1  ATGE       100  15.866641  0.478179   70.000000  267.887789  5.104219e-14
2  ATGE       300  20.748732  0.428943  104.664412  449.836840  6.333086e+01
3  ATGE       900  20.035755  0.502820  345.097181  438.814722  1.064037e+02
4  ATGE      1200  19.909969  0.527853  327.228777  419.066655  8.059260e+01

In [41]:
df_Roman = pd.read_csv(cwd + "\\Result - Roman.csv")
df_Roman.head()

,Site,Internal Distance,External Distance,Rcv,Rse,Rst,Rsv,RAW Score,ST Score
0,ATGE,30,100,0.862114,0.784802,0.990000,5.965000,0.579970,0.294941
1,ATGE,30,300,0.670379,0.788821,0.694206,7.947945,0.745846,0.256871
2,ATGE,100,300,-0.102966,0.923035,-0.148640,0.284701,4.855959,0.907602
3,ATGE,300,900,0.172231,0.954540,-0.119004,1.906935,2.903070,0.592676
4,ATGE,300,1200,0.230590,0.954330,-0.075508,1.938959,2.168347,0.587308

In [42]:
df_Variogram_30 = df_Variogram[df_Variogram["Distance"] == 30][['Site','Distance','CV','Sill']]
df_Variogram_300 = df_Variogram[df_Variogram["Distance"] == 300][['Site','Distance','CV','Sill']]
df_Variogram_900 = df_Variogram[df_Variogram["Distance"].isin([600,900])][['Site','Distance','CV','Sill']]
df_Roman_30_300 = df_Roman.loc[np.where((df_Roman['Internal Distance'] == 30) & (df_Roman['External Distance'] == 300))][["Site","Internal Distance","External Distance","Rcv","RAW Score","ST Score"]]
df_Roman_300_900 = df_Roman.loc[np.where((df_Roman['Internal Distance'] == 300) & (df_Roman['External Distance'].isin([600,900])))][["Site","Internal Distance","External Distance","Rcv","RAW Score","ST Score"]]

In [43]:
soglia_Sill_30m = 7.77
soglia_Sill_300m = 61.06
soglia_Sill_900m = 108.42
soglia_CV_30m = 0.08
soglia_CV_300m = 0.2
soglia_CV_900m = 0.25

soglia_Rcv_30_300 = 1.2
soglia_Rcv_300_900 = 0.3
soglia_RAW_30_300 = 0.42
soglia_RAW_300_900 = 1.66
soglia_ST_30_300 = 0.19
soglia_ST_300_900 = 0.65

In [44]:
df_Variogram_30["Sill Test"] = np.where(df_Variogram_30["Sill"] <= soglia_Sill_30m, "Pass", "Fail")
df_Variogram_30["CV Test"] = np.where(df_Variogram_30["CV"] <= soglia_CV_30m, "Pass", "Fail")
df_Variogram_30

                 Site  Distance        CV       Sill Sill Test CV Test
0                ATGE        30  0.256794  71.762211      Fail    Fail
5    ATLAS-Mohammed V        30  0.055660   1.687615      Pass    Pass
11         AU-MIEMING        30  0.033692   0.732944      Pass    Pass
16               BASP        30  0.011019   0.013728      Pass    Pass
21       BE-BRASCHAAT        30  0.081562   9.528356      Fail    Fail
..                ...       ...       ...        ...       ...     ...
409            US-LIN        30  0.008956   0.626820      Pass    Pass
415            US-OPE        30  0.041678   0.733420      Pass    Pass
421           US-SERC        30  0.036599   7.475044      Pass    Pass
427         Utqiagvik        30  0.197187   7.399619      Pass    Fail
433              WWUK        30  0.063896  39.701474      Fail    Pass

[84 rows x 6 columns]

In [45]:
df_Variogram_300["Sill Test"] = np.where(df_Variogram_300["Sill"] <= soglia_Sill_300m, "Pass", "Fail")
df_Variogram_300["CV Test"] = np.where(df_Variogram_300["CV"] <= soglia_CV_300m, "Pass", "Fail")
df_Variogram_300

                 Site  Distance        CV        Sill Sill Test CV Test
2                ATGE       300  0.428943  449.836840      Fail    Fail
7    ATLAS-Mohammed V       300  0.236488   39.292309      Pass    Fail
13         AU-MIEMING       300  0.056158    3.442307      Pass    Pass
18               BASP       300  0.208518    5.202114      Pass    Fail
23       BE-BRASCHAAT       300  0.178331   69.965324      Fail    Pass
..                ...       ...       ...         ...       ...     ...
411            US-LIN       300  0.057523   31.142912      Pass    Pass
417            US-OPE       300  0.677182  371.606956      Fail    Fail
423           US-SERC       300  0.045821   14.340473      Pass    Pass
429         Utqiagvik       300  0.186061   12.375494      Pass    Pass
435              WWUK       300  0.085156   61.591492      Fail    Pass

[84 rows x 6 columns]

In [46]:
df_Variogram_900["Sill Test"] = np.where(df_Variogram_900["Sill"] <= soglia_Sill_900m, "Pass", "Fail")
df_Variogram_900["CV Test"] = np.where(df_Variogram_900["CV"] <= soglia_CV_900m, "Pass", "Fail")
df_Variogram_900

                 Site  Distance        CV        Sill Sill Test CV Test
3                ATGE       900  0.502820  438.814722      Fail    Fail
8    ATLAS-Mohammed V       600  0.242353   69.804207      Pass    Pass
9    ATLAS-Mohammed V       900  0.461659  131.031057      Fail    Fail
14         AU-MIEMING       900  0.065007    5.146960      Pass    Pass
19               BASP       900  0.550165   47.130686      Pass    Fail
..                ...       ...       ...         ...       ...     ...
424           US-SERC       600  0.077073   45.531968      Pass    Pass
425           US-SERC       900  0.151240  156.993384      Fail    Pass
430         Utqiagvik       600  0.188897   13.423323      Pass    Pass
431         Utqiagvik       900  0.251612   22.842020      Pass    Fail
436              WWUK       900  0.156395  186.540288      Fail    Pass

[102 rows x 6 columns]

In [47]:
df_Roman_30_300["Rcv Test"] = np.where(df_Roman_30_300["Rcv"] <= soglia_Rcv_30_300, "Pass", "Fail")
df_Roman_30_300["RAW Test"] = np.where(df_Roman_30_300["RAW Score"] >= soglia_RAW_30_300, "Pass", "Fail")
df_Roman_30_300["ST Test"] = np.where(df_Roman_30_300["ST Score"] >= soglia_ST_30_300, "Pass", "Fail")
df_Roman_30_300

,Site,Internal Distance,External Distance,Rcv,RAW Score,ST Score,Rcv Test,RAW Test,ST Test
1,ATGE,30,300,0.670379,0.745846,0.256871,Pass,Pass,Pass
6,ATLAS-Mohammed V,30,300,3.248775,0.153904,0.285321,Fail,Fail,Pass
12,AU-MIEMING,30,300,0.666815,0.749833,0.268635,Pass,Pass,Pass
17,BASP,30,300,17.924253,0.027895,0.074068,Fail,Fail,Fail
22,BE-BRASCHAAT,30,300,1.186440,0.421429,0.191306,Pass,Pass,Pass
...,...,...,...,...,...,...,...,...,...
410,US-LIN,30,300,5.422610,0.092207,0.126504,Fail,Fail,Fail
416,US-OPE,30,300,15.248101,0.032791,0.077908,Fail,Fail,Fail
422,US-SERC,30,300,0.251983,1.984260,0.418806,Pass,Pass,Pass
428,Utqiagvik,30,300,-0.056424,8.861478,0.220460,Pass,Pass,Pass
434,WWUK,30,300,0.332739,1.502678,0.334950,Pass,Pass,Pass

In [48]:
df_Roman_300_900["Rcv Test"] = np.where(df_Roman_300_900["Rcv"] <= soglia_Rcv_300_900, "Pass", "Fail")
df_Roman_300_900["RAW Test"] = np.where(df_Roman_300_900["RAW Score"] >= soglia_RAW_300_900, "Pass", "Fail")
df_Roman_300_900["ST Test"] = np.where(df_Roman_300_900["ST Score"] >= soglia_ST_300_900, "Pass", "Fail")
df_Roman_300_900

,Site,Internal Distance,External Distance,Rcv,RAW Score,ST Score,Rcv Test,RAW Test,ST Test
3,ATGE,300,900,0.172231,2.903070,0.592676,Pass,Pass,Fail
8,ATLAS-Mohammed V,300,600,0.024801,20.160207,0.460273,Pass,Pass,Fail
9,ATLAS-Mohammed V,300,900,0.952147,0.525129,0.209272,Fail,Fail,Fail
14,AU-MIEMING,300,900,0.157577,3.173046,0.466587,Pass,Pass,Fail
19,BASP,300,900,1.638458,0.305165,0.639743,Fail,Fail,Fail
...,...,...,...,...,...,...,...,...,...
424,US-SERC,300,600,0.682038,0.733097,0.361479,Fail,Fail,Fail
425,US-SERC,300,900,2.300643,0.217331,0.230559,Fail,Fail,Fail
430,Utqiagvik,300,600,0.015245,32.797913,0.812635,Pass,Pass,Pass
431,Utqiagvik,300,900,0.352309,1.419207,0.539944,Fail,Fail,Fail
436,WWUK,300,900,0.836562,0.597684,0.379367,Fail,Fail,Fail

In [49]:
df_Roman_300_900[df_Roman_300_900["ST Test"] == "Pass"]

,Site,Internal Distance,External Distance,Rcv,RAW Score,ST Score,Rcv Test,RAW Test,ST Test
24,BE-BRASCHAAT,300,900,0.172742,2.894494,0.833801,Pass,Pass,Pass
29,BE-Maa,300,900,0.148305,3.371423,0.972215,Pass,Pass,Pass
34,BE-Vie,300,600,0.131458,3.803487,0.720199,Pass,Pass,Pass
35,BE-Vie,300,900,0.209633,2.385115,0.686201,Pass,Pass,Pass
50,CD-Ygb,300,900,0.013060,38.283648,1.088133,Pass,Pass,Pass
60,CHINA-AGR 2,300,900,0.149780,3.338223,0.687258,Pass,Pass,Pass
65,CHINA-FOR 1,300,900,1.086554,0.460170,0.658916,Fail,Fail,Pass
75,Dahara (Senegal),300,900,0.049794,10.041398,0.921545,Pass,Pass,Pass
91,DE-Hai,300,900,-0.101149,4.943217,0.907442,Pass,Pass,Pass
96,DE-JUL1,300,900,-0.337115,1.483172,0.837563,Pass,Fail,Pass
101,DE-KKA,300,900,-0.116054,4.308330,0.918697,Pass,Pass,Pass
106,DE-LEINIEFELDE,300,900,0.289587,1.726598,0.778161,Pass,Pass,Pass
111,DE-LEIPZIG,300,900,0.125386,3.987678,0.683628,Pass,Pass,Pass
116,DE-LEIPZIG 2,300,900,-0.102649,4.870961,0.688214,Pass,Pass,Pass
121,DE-SEL,300,600,-0.017263,28.964177,0.760697,Pass,Pass,Pass
122,DE-SEL,300,900,-0.145333,3.440377,0.750031,Pass,Pass,Pass
127,DE-Tha,300,900,0.048255,10.361716,0.902382,Pass,Pass,Pass
132,DK-Sor,300,900,0.292698,1.708244,0.842919,Pass,Pass,Pass
142,FI SOD FOREST,300,900,0.349439,1.430865,0.838514,Fail,Fail,Pass
162,FI-Var,300,900,0.082743,6.042799,0.765168,Pass,Pass,Pass
195,GF-Guy,300,900,0.018672,26.778489,0.755676,Pass,Pass,Pass
210,INDONESIA,300,900,0.345886,1.445565,0.812796,Fail,Fail,Pass
215,IN-JOD,300,900,0.231075,2.163804,0.738173,Pass,Pass,Pass
220,IS-YATIR,300,600,0.005026,99.483851,1.021524,Pass,Pass,Pass
226,IT-BFt,300,600,0.010195,49.045042,1.090143,Pass,Pass,Pass
232,IT-BOZEN,300,900,0.053977,9.263217,0.965346,Pass,Pass,Pass
242,IT-Mbo,300,900,0.321550,1.554969,0.876574,Fail,Fail,Pass
247,IT-SR2,300,600,0.067289,7.430647,1.105070,Pass,Pass,Pass
248,IT-SR2,300,900,0.794870,0.629034,0.674425,Fail,Fail,Pass
263,KEN-1,300,900,-0.267440,1.869581,0.829560,Pass,Pass,Pass
268,KEN-KAP,300,900,0.152719,3.273989,0.765304,Pass,Pass,Pass
278,NED-CABAUW,300,900,0.271700,1.840268,0.928796,Pass,Pass,Pass
283,NED-ESSEN,300,900,0.152723,3.273902,0.960745,Pass,Pass,Pass
288,NED-REUSEL,300,900,-0.181450,2.755585,0.766701,Pass,Pass,Pass
293,PORT-FOR,300,600,-0.237418,2.105993,0.766351,Pass,Pass,Pass
294,PORT-FOR,300,900,-0.131198,3.811025,0.741502,Pass,Pass,Pass
304,S. KOREA-AGR 1,300,900,0.537233,0.930695,0.800657,Fail,Fail,Pass
329,SP-DES,300,900,-0.021628,23.117666,0.948678,Pass,Pass,Pass
364,SW-OTT,300,900,0.214224,2.334009,0.955101,Pass,Pass,Pass
374,Tapajos KM67 Mature Forest site,300,900,0.088118,5.674187,1.075729,Pass,Pass,Pass
379,UK-1,300,900,-0.113262,4.414526,0.705206,Pass,Pass,Pass
384,UK-2,300,600,0.116162,4.304350,0.867331,Pass,Pass,Pass
390,UK-Amo,300,600,-0.675273,0.740441,0.685599,Pass,Fail,Pass
396,US ALASKA 1,300,900,0.397582,1.257602,0.675387,Fail,Fail,Pass
401,US ALASKA 2,300,900,0.524022,0.954158,0.656105,Fail,Fail,Pass
406,US-Konza,300,600,-0.041535,12.037978,0.730520,Pass,Pass,Pass
407,US-Konza,300,900,0.104340,4.792042,0.925273,Pass,Pass,Pass
412,US-LIN,300,600,-0.159978,3.125431,0.910581,Pass,Pass,Pass
418,US-OPE,300,600,-0.298204,1.676705,0.875745,Pass,Pass,Pass
419,US-OPE,300,900,-0.435568,1.147928,0.755528,Pass,Fail,Pass
430,Utqiagvik,300,600,0.015245,32.797913,0.812635,Pass,Pass,Pass

In [51]:
df_Variogram_30.to_csv(cwd + "\\Results - CV Sill - 30m Test.csv", index = False)
df_Variogram_300.to_csv(cwd + "\\Results - CV Sill - 300m Test.csv", index = False)
df_Variogram_900.to_csv(cwd + "\\Results - CV Sill - 600m900m Test.csv", index = False)
df_Roman_30_300.to_csv(cwd + "\\Results - Roman - 30-300m Test.csv", index = False)
df_Roman_300_900.to_csv(cwd + "\\Results - Roman - 300-600m900m Test.csv", index = False)